<div class="row justify-content-center m-o">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Crear nueva promoción</h1>
        <form class="formulario">
            <div class="encabezado">
                <h5>Registrar promoción</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                        placeholder="Ingrese una descripción">
                </div>
                <div class="mb-3">
                    <label for="fecha-inicio" class="form-label">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="fecha-inicio" name="fecha-inicio"
                        placeholder="Ingrese el apellido">
                </div>
                <div class="mb-3">
                    <label for="fecha-fin" class="form-label">Fecha de fin</label>
                    <input type="date" class="form-control" id="fecha-fin" name="fecha-fin"
                        placeholder="Ingrese el nombre">
                </div>
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen"
                        placeholder="Ingrese la url de una imagen">
                </div>
                <div class="boton-formulario">
                    <button type="submit" class="btn btn-success m-md-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropRegistrarPromocion">Registrar</button>
                    <!-- <button type="submit" class="btn btn-warning m-md-2" data-bs-toggle="modal" data-bs-target="#staticBackdropModificarPromocion">Actualizar</button> -->

                    <button type="button" class="btn btn-primary m-md-2">Ir a lista Promociones</button>
                </div>

            </div>
        </form>

    </div>

</div>