<div class="row mb-3 row-contenedor">
    <div class="col-12 col-md-12 p-0 m-0 contenedor-carousel">
        <h1 class="anton-sc-regular">Las mejores promociones...</h1>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/promo01.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titulo 01</h5>
                        <p>Subtitulo 01</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/promo02.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titulo 02</h5>
                        <p>Subtitulo 02</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/promo03.jpg" class="d-block" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Titulo 03</h5>
                        <p>Subtitulo 03</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="row row-contenedor mb-3">
    <section>
        <h2 class="anton-sc-regular">
            Locales Disponibles
        </h2>

        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-4 col-md-4 card-imagen">
                <img src="https://storage.googleapis.com/portales-prod-images/1521/property-images/2024/6/03d26bac-ac5d-4317-904f-854321f2aeed_thumbnail.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-8 col-md-8 card-cuerpo">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-4 col-md-4 card-imagen">
                <img src="https://i.pinimg.com/736x/a9/7f/cd/a97fcda6abc47628f45d9d90e0b65d13.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-8 col-md-8 card-cuerpo">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>
    </section>
</div>

<div class="row row-contenedor">
    <div class="col-12">
        <section class="section-ubicacion">
            <h2 class="anton-sc-regular">Visitanos en...</h2>
            <div class="card-direccion">
              <div class="direccion-texto">
                <h3 class="manrope" style="text-align: center;">San Salvador de Jujuy</h3>
                <hr>
                <h5 class="manrope">Dirección: Dr. José Martearena 45, B° Centro</h5>
                <h5 class="manrope">Horario de atención: 9:00AM - 6:00PM</h5>
              </div>
    
              <div class="direccion-ubicacion">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5146.984387678628!2d-65.2909388137796!3d-24.190398925100265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f5bca584281%3A0xb1d519d50cac526d!2sFacultad%20de%20Ingenier%C3%ADa%20-%20UNJu!5e0!3m2!1ses!2sar!4v1712689106276!5m2!1ses!2sar" width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </section>
    </div>
</div>