<div class="d-flex justify-content-center align-items-center" id="body">
<div class="login bg-transparent">
    <form action="">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" placeholder="Usuario" required>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Contraseña" required>
        <i class="bx bxs-lock-alt"></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Recordarme</label>
        <a href="#">Olvide mi contraseña</a>
      </div>
      <button type="submit" class="btn btn-success">Entrar</button>
      <div class="register-link">
        <p>¿ No tienes cuenta ? <a href="./registro.html">Registrarse</a></p>
        <p>
          <a href="./index.html">Volver al incio</a>
        </p>
      </div>
    </form>
  </div>
</div>