<div class="row justify-content-center ">
    <div class="col-12 col-sm-12 col-md-11 contenedor">
        <h1>Listado de promociones</h1>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary my-3"> AGREGAR </button>
        </div>
        <table class="table table-hover table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Propietario</th>
                    <th scope="col">N° de Local</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Fecha de Fin</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <th>#</th>
                    <td>Nombre del Propietario</td>
                    <td>1</td>
                    <td>Descripcion</td>
                    <td>Fecha de Inicio</td>
                    <td>Fecha de Fin</td>
                    <td>
                        <div class="btn-lista-promocion">
                            <button type="button" class="btn btn-warning m-md-2">Actualizar</button>
                            <button type="button" class="btn btn-danger m-md-2">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>