<div class="container">

    <div class="card my-5">
        <div class="card-header">
           GESTION DE PROPIETARIO
        </div>
        <div class="card-body">
            <form>

                <div class="mb-3">
                    <label for="idapellido" class="form-label">Apellido</label>
                    <input name="apellido" type="text" class="form-control" id="idapellido" [(ngModel)]="propietario.apellido">
                </div>

                <div class="mb-3">
                    <label for="idnombre" class="form-label">Nombres</label>
                    <input name="nombre" type="text" class="form-control" id="idnombre" [(ngModel)]="propietario.nombres">
                </div>

                <div class="mb-3">
                    <label for="iddni" class="form-label">DNI</label>
                    <input name="dni" type="number" class="form-control" id="iddni" [(ngModel)]="propietario.dni">
                </div>

                <div class="mb-3">
                    <label for="idemail" class="form-label">Email</label>
                    <input name="email" type="text" class="form-control" id="idemail" [(ngModel)]="propietario.email">
                </div>

                <div class="mb-3">
                    <label for="idtelefono" class="form-label">Telefono</label>
                    <input name="telefono" type="text" class="form-control" id="idtelefono" [(ngModel)]="propietario.telefono">
                </div>
                        
                <button *ngIf="accion == 'new'" type="button" class="btn btn-outline-success" (click)="registrarPropietario()">Guardar</button>
                <button *ngIf="accion == 'update'" type="button" class="btn btn-outline-success" (click)="actualizarPropietario()">Actualizar</button>
                <button type="button" class="btn btn-outline-primary mx-5" (click)="atras()">Ir a Lista</button>

            </form>
        </div>
    </div>
    
</div>
