<div class="row justify-content-center m-o">
    <div class="col-12 col-sm-12 col-md-7 contenedor">
        <h1>Registro de alquileres de local</h1>
        <form class="formulario">
            <div class="encabezado">
                <h5>Nuevo alquiler</h5>
            </div>
            <div class="contenedor-formulario p-3">
                <div class="mb-3">
                    <label for="propietario" class="form-label">Propietario</label>
                    <select class="form-select" id="propietario" name="propietario" [(ngModel)]="alquiler.usuario">
                        <option *ngFor="let p of propietarios" [ngValue]="p">{{p.apellido}},{{p.nombre}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="nrolocal" class="form-label">Número de local</label>
                    <select class="form-select" id="nrolocal" name="nrolocal" [(ngModel)]="alquiler.local">

                        <option *ngFor="let l of locales" [ngValue]="l">{{l.numeroLocal}}</option>

                    </select>
                </div>
                <div class="mb-3">
                    <label for="plazo-mes" class="form-label">Plazo del Mes para pagar</label>
                    <input type="number" class="form-control" id="plazo-mes" name="plazo-mes"
                        placeholder="Ingrese el plazo del mes." [(ngModel)]="alquiler.plazomes">
                </div>
                <div class="mb-3">
                    <label for="costomes" class="form-label">Costo del alquiler</label>
                    <input type="number" class="form-control" id="costomes" name="costomes"
                        placeholder="Ingrese valor de superficie." [(ngModel)]="alquiler.costoalquiler">
                </div>
               
                <div class="mb-3">
                    <label for="fecha-alquiler" class="form-label">Fecha de Alquiler</label>
                    <input type="date" class="form-control" id="fecha-alquiler" name="fecha-alquiler"
                        placeholder="Ingrese el nombre" [(ngModel)]="alquiler.fechaAlquiler">
                </div>
               
                <div class="boton-formulario">
                    <button  class="btn btn-success m-md-2" (click)="crearAlquiler()">Registrar</button>
                    <!-- <button *ngIf="accion == 'update'"type="submit" class="btn btn-warning m-md-2" (click)="modificarPromocion()">Actualizar</button> -->

                    <!-- <button type="button" class="btn btn-primary m-md-2"(click)="irALista()">Ir a lista Promociones</button> -->
                </div>

            </div>
        </form>

    </div>

</div>