<body>
    <div class="container mt-5">

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Búsqueda por Rol</span>
                    <select class="form-select" id="idrol" name="rol" [(ngModel)]="rolAux">
                        <!-- <option [ngValue]="" disabled selected>Seleccione Rol</option> -->
                        <option [ngValue]="">Todos</option>
                        <option *ngFor="let r of roles" [ngValue]="r.nombre">{{r.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Búsqueda por Apellido</span>
                    <input name="apellido" type="text" class="form-control" id="idapellido" [(ngModel)]="apellidoAux">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Búsqueda por DNI</span>
                    <input name="dni" type="text" class="form-control" id="iddni" [(ngModel)]="dniAux">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mb-3">
                <button type="button" class="btn btn-outline-dark" (click)="getUsuarios(apellidoAux,rolAux,dniAux)">Buscar</button>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 mb-3">
                <button type="button" class="btn btn-outline-success" (click)="buscarYLimpiar()">Mostrar Todos</button>
            </div>
        </div>

        <div class="row mt-3">
            <h3 class="col-12 text-center text-primary text-decoration-underline">LISTADO DE USUARIOS</h3>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-outline-primary my-3" (click)="agregarUsuario()">AGREGAR</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Rol</th>
                    <th scope="col">Apellido y Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of usuarios">
                    <td>{{u.rol.nombre}}</td>
                    <td>{{u.apellido}}, {{u.nombre}}</td>
                    <td>{{u.dni}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.telefono}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" (click)="modificarUsuario(u)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger mx-3" (click)="eliminarUsuario(u)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>